footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

footer img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

div ul {
    list-style: none;
    padding: 0;
}

div li {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

div img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}